CallWebService/Web References/MyService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RectAreaComputer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="w" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="l" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RectAreaComputerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RectAreaComputerResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriangAreaComputer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="h" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TriangAreaComputerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TriangAreaComputerResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RectAreaComputerSoapIn">
    <wsdl:part name="parameters" element="tns:RectAreaComputer" />
  </wsdl:message>
  <wsdl:message name="RectAreaComputerSoapOut">
    <wsdl:part name="parameters" element="tns:RectAreaComputerResponse" />
  </wsdl:message>
  <wsdl:message name="TriangAreaComputerSoapIn">
    <wsdl:part name="parameters" element="tns:TriangAreaComputer" />
  </wsdl:message>
  <wsdl:message name="TriangAreaComputerSoapOut">
    <wsdl:part name="parameters" element="tns:TriangAreaComputerResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="RectAreaComputer">
      <wsdl:input message="tns:RectAreaComputerSoapIn" />
      <wsdl:output message="tns:RectAreaComputerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TriangAreaComputer">
      <wsdl:input message="tns:TriangAreaComputerSoapIn" />
      <wsdl:output message="tns:TriangAreaComputerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RectAreaComputer">
      <soap:operation soapAction="http://tempuri.org/RectAreaComputer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriangAreaComputer">
      <soap:operation soapAction="http://tempuri.org/TriangAreaComputer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RectAreaComputer">
      <soap12:operation soapAction="http://tempuri.org/RectAreaComputer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TriangAreaComputer">
      <soap12:operation soapAction="http://tempuri.org/TriangAreaComputer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1053/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1053/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>